body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  max-width:900px;
  margin:0 auto;
}
.card_group{
  max-width:100%;
  padding: 2rem 1rem;
}
.potd_card{
  display:flex;
  justify-content:space-between;
  align-content:center;
  max-width:100%;
}

.potd_card img {
    width:45%;
}
.potd_card .text-contet{
  width:45%;
  
}